/**********************
*                     *
*   Vanessa Barsotti  *
*  JS Skills Project  *
*                     *
**********************/

/*PALETTE COLORS
#03A8BF (dark green)
#6DCDDB (lighter green)
#FFAA00 (dark orange)
#FFE5B1 (light orange)
#FFF8F7 (off-white)
#1E1E1E (dark)
*/

/*GENERAL FEATURES*/
body{
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	color: #FFF8F7;
	font-family: 'Handlee', cursive;
}
h1 {
	font-size: 1.9em;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.6em;
}
h4, h5, h6 {
	font-size: 1.4em;
}
p{
	margin: 0;
	font-size: 1.4em;
	font-family: 'Roboto', sans-serif;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	margin: 0;
}
a{
	text-decoration: none;
}
#wrapper{
	background: #FFF8F7;
	/*overflow: hidden;*/
}

/*HEADER FEATURES*/
header{
	background: #03A8BF;
	position: fixed;
	width: 80%;
	padding: 0 10%;
	/*height: 100px;*/
	z-index: 1;
}
/*LOGO FEATURES*/
#logo-box{
	width: 30%;
	height: 80px;
	float: left;
	padding: 10px 0;
}
#logo-title a{
	display: block;
	color: #FFF8F7;
	font-family: 'Handlee', cursive;
}
/*TITLE FEATURES*/
#title-box{
	width: 40%;
	height: 80px;
	float: left;
	padding: 10px 0;
}
#middle-title{
	padding: 22px 0;
}
#middle-title h2{
	text-align: center;
}
/*MENU FEATURES*/
#nav-menu{
	float: left;
	width: 30%;
	height: 80px;
	padding: 10px 0;
}
#nav-menu ul{
	float: right;
	list-style-type: none;
}
#nav-menu li{
	float: left;
	margin-left: 10px;
	width: 80px;
	text-align: center;
	padding-top: 50px;
	font-size: 1.4em;
}
#nav-menu a{
	display: block;
	color: #FFF8F7;
	font-family: 'Handlee', cursive;
}
#nav-menu a:hover{
	color: #0033AA;
}



#intro h2{
	padding: 0;
	color: #0033AA;
	text-align: center;
	width: 60%;
	margin: 0 auto;
}
#intro p{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}





/*SECTION FEATURES*/
section{
	/*background: #00F;*/
	background: #FFF8F7;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	top: 100px;
	width: 80%;
	padding-top: 50px;
}
.project{
	width: 23.23%;
	height: 300px;
	/*padding: 0 2.5%;*/
	float: left;
	margin-bottom: 25px;
	margin-right: 20px;
}
.project-box{
	background: #03A8BF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	height: inherit;
	border-radius: 5px;
}
.project-title{
	background: #0033AA;
	height: 15%;
	border-radius: 5px 5px 0 0;
}
.project-title h3{
	/*background: #ff0;*/
	color: #FFF8F7;
	text-align: center;
	padding: 4%;
	font-size: 1.3em;
}
.project-title a{
	display: block;
}
.project-img{
	/*background: #000;*/
	height: 85%;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.project-img img{
	width: 50%;
	padding-top: 10px;
}
.project-img a{
	display: block;
}




